@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0; }

body {
  font-family: 'Kumbh Sans', sans-serif;
  background-color: #19a2ae;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: space-around;
  flex-wrap: wrap;
  background-image: url(../images/bg-pattern-top.svg), url(../images/bg-pattern-bottom.svg);
  background-repeat: no-repeat;
  background-position: right 50vw bottom 50vh, left 50vw top 50vh; }
  body section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center; }
    body section article {
      width: 85%;
      max-width: 400px;
      box-shadow: 0px 30px 40px 1px rgba(0, 0, 0, 0.2);
      border-radius: 15px;
      overflow: hidden; }
      body section article .bgProfile {
        width: 100%;
        display: block; }
      body section article .info {
        background-color: #FFFFFF;
        position: relative; }
        body section article .info img {
          border: 5px solid #FFFFFF;
          border-radius: 50%;
          position: absolute;
          top: 0;
          left: 50%;
          transform: translate(-50%, -50%); }
        body section article .info .profile {
          padding-top: 75px;
          display: flex;
          justify-content: center; }
          body section article .info .profile .name {
            margin-bottom: 10px;
            font-size: 1.2rem;
            font-weight: 700; }
          body section article .info .profile .age {
            color: #969696;
            margin-left: 10px;
            font-size: 1.2rem;
            font-weight: 400; }
        body section article .info .city {
          color: #969696;
          margin-bottom: 30px;
          text-align: center;
          font-weight: 400;
          font-size: 0.9rem; }
        body section article .info hr {
          margin-bottom: 30px;
          border: none;
          border-top: 1.5px solid #E2E2E2; }
        body section article .info .account {
          padding-bottom: 30px;
          display: flex;
          justify-content: space-evenly; }
          body section article .info .account div {
            width: 55px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            flex-direction: column; }
            body section article .info .account div .number {
              font-size: 1.2rem;
              font-weight: 700;
              margin-bottom: 3px; }
            body section article .info .account div .text {
              color: #969696;
              font-size: 0.6rem;
              font-weight: 400;
              letter-spacing: 0.1rem; }
